/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.login-page {
  height: 100%;
  background: #f4f6f9;
}

.login-box {
  width: 360px;
  margin: auto;
  padding-top: 100px;
}
